<div class="container body-content">

    <h1>@ViewBag.title</h1>

    <form action="/search/results" method="post">
        <h2>Search by:</h2>

        <p>
            @foreach (var column in ViewBag.columns)
            {
                <span>
                    <input type="radio" name="searchType" id="@column.Key" value="@column.Key" checked="@column.Key == 'all'" />
                    <label for="@column.Key">@column.Value</label>
                </span>
            }

        </p>

        <p>
            <label for="searchTerm">Keyword:</label>
            <input type="text" name="searchTerm" id="searchTerm" />
        </p>

        <input type="submit" value="Search" />
    </form>

    <hr />

    @{
/*TODO #4: Loop over the search results to display search results.  

Once you have your Results action method passing information to the view, you need to display the data.
In this file, create a loop to display each job passed in from the controller.
Put the job results into a table, similar to what you did for the List/Jobs view.

Tip: copy&paste the code you just wrote in List/Jobs.cshtml. For the fragment to work properly in both files, the ViewBag properties must use the same name.

        some kind of if not null statement should probably go here im thinking  
@foreach (var job in ViewBag.Jobs)
{
    <table class="job-listing">
        <tr>
            <td>
                ID: @job.Id<br>
                Name: @job.Name<br>
                Employer: @job.Employer<br>
                Location: @job.Location<br>
                Position Type: @job.PositionType<br>
                Skill: @job.CoreCompetency
            </td>
        </tr>

    </table>
}
*/}

</div>